

body {
  background: #ff6600;
  font-size: 100%;
}

 
/* GENERAL BUTTON STYLING */
.btn, .btn::after {  -webkit-transition: all 0.3s;	-moz-transition: all 0.3s;  -o-transition: all 0.3s;	transition: all 0.3s;}

.btn{background:none; border:3px solid #fff; border-radius:8px; color:#fff; display:block; font-size:1.5em; font-weight:bold; margin:1em auto; padding: 2em 6em; position: relative;}
.btn::before, .btn::after {  background: #fff;  content: '';  position: absolute;  z-index: -1;}
.btn:hover {  color: #ff6600;}

/* Swap top to down */
.swap-top-down::after {  height: 0;  left: 0;  top: 0;  width: 100%;}
.swap-top-down:hover:after {  height: 100%;}

/* Swap left to right */
.swap-left-right::after{height: 100%; left: 0; top: 0; width: 0;}
.swap-left-right:hover:after {  width: 100%;}

 